Projet accident 
--------------

Projet dans le cadre du cours intro à la data science                   
Groupe:  Mourougan Peroumalle,Julien Vorabout, Huy Huynh, Jean-Pierre Pertus

In [44]:
import pandas as pd

df = pd.read_csv("accidentologie.csv",sep=';')
#remplit les colonnes vides ('nan') avec des chaines vides
df = df.fillna('')
#supprime la colonne segm
df.__delitem__('segm')
df.head()

,date,heure,dept,com,adresse,code_postal,carr,lieu_1_nomv,lieu_2_nomv,vehicule_1_cadmin,...,usager_2_catu,usager_2_grav,usager_2_lveh,usager_3_catu,usager_3_grav,usager_3_lveh,usager_4_catu,usager_4_grav,usager_4_lveh,coordonnees
0,2013-10-07,05:45,75,119,AVENUE CORENTIN CARIOU,75119,1_75119_10244,AVENUE CORENTIN CARIOU,BOULEVARD MACDONALD,Moto50-125,...,,,,,,,,,,"48.896117, 2.383857"
1,2013-02-05,13:50,75,119,"79, RUE DE BELLEVILLE",75119,1_75119_10266,RUE DE BELLEVILLE,RUE CLAVEL,Scoo<=50,...,,,,,,,,,,"48.873659, 2.383921"
2,2012-12-11,14:50,75,119,"163, AVENUE JEAN JAURES",75119,1_75119_10363,AVENUE JEAN JAURES,RUE DES ARDENNES,VL,...,Cond,BL,B,,,,,,,"48.88739, 2.387161"
3,2012-05-06,13:00,75,119,"66, RUE PETIT",75119,1_75119_10374,RUE PETIT,RUE D HAUTPOUL,Cyclo,...,Cond,BL,B,,,,,,,"48.885578, 2.386701"
4,2013-03-28,19:12,75,119,"1, PLACE AUGUSTE BARON",75119,1_75119_10410,PLACE AUGUSTE BARON,ECH VILLETTE-DG/19,VU,...,Cond,BH,B,,,,,,,