Projet accident 
--------------

Projet dans le cadre du cours intro à la data science                   
Groupe:  Mourougan Peroumalle,Julien Vorabout, Huy Huynh, Jean-Pierre Pertus

In [17]:
import pandas as pd

df = pd.read_csv("accidentologie.csv",sep=';')
#remplit les colonnes vides ('nan') avec des chaines vides
df = df.fillna('')
#supprime la colonne segm
df.__delitem__('segm')
df.head()

,date,heure,dept,com,adresse,code_postal,carr,lieu_1_nomv,lieu_2_nomv,vehicule_1_cadmin,...,usager_2_catu,usager_2_grav,usager_2_lveh,usager_3_catu,usager_3_grav,usager_3_lveh,usager_4_catu,usager_4_grav,usager_4_lveh,coordonnees
0,2013-10-07,05:45,75,119,AVENUE CORENTIN CARIOU,75119,1_75119_10244,AVENUE CORENTIN CARIOU,BOULEVARD MACDONALD,Moto50-125,...,,,,,,,,,,"48.896117, 2.383857"
1,2013-02-05,13:50,75,119,"79, RUE DE BELLEVILLE",75119,1_75119_10266,RUE DE BELLEVILLE,RUE CLAVEL,Scoo<=50,...,,,,,,,,,,"48.873659, 2.383921"
2,2012-12-11,14:50,75,119,"163, AVENUE JEAN JAURES",75119,1_75119_10363,AVENUE JEAN JAURES,RUE DES ARDENNES,VL,...,Cond,BL,B,,,,,,,"48.88739, 2.387161"
3,2012-05-06,13:00,75,119,"66, RUE PETIT",75119,1_75119_10374,RUE PETIT,RUE D HAUTPOUL,Cyclo,...,Cond,BL,B,,,,,,,"48.885578, 2.386701"
4,2013-03-28,19:12,75,119,"1, PLACE AUGUSTE BARON",75119,1_75119_10410,PLACE AUGUSTE BARON,ECH VILLETTE-DG/19,VU,...,Cond,BH,B,,,,,,,

In [27]:
for col in  df.columns - ['lieu_1_nomv','lieu_2_nomv','date','carr','coordonnees','adresse','code_postal','com','7541','heure']:
    print col,' \n',set(df[col])
    print '\n'

dept
set([75])


usager_1_catu
set(['Troll', 'Pi\xc3\xa9to', 'Cond', 'Pass'])


usager_1_grav
set(['BL', 'BH', 'Indem', 'Tu\xc3\xa9'])


usager_1_lveh
set(['A', 'C', 'B', 'E', 'D', 'Z'])


usager_2_catu
set(['', 'Cond', 'Troll', 'Pi\xc3\xa9to', 'Pass'])


usager_2_grav
set(['BL', '', 'Indem', 'Tu\xc3\xa9', 'BH'])


usager_2_lveh
set(['A', '', 'C', 'B', 'E', 'D', 'Z'])


usager_3_catu
set(['', 'Pi\xc3\xa9to', 'Cond', 'Pass'])


usager_3_grav
set(['', 'BL', 'Indem', 'BH', 'Tu\xc3\xa9'])


usager_3_lveh
set(['', 'A', 'C', 'B', 'E', 'D', 'Z'])


usager_4_catu
set(['', 'Cond', 'Pi\xc3\xa9to', 'Pass'])


usager_4_grav
set(['', 'BL', 'Indem', 'Tu\xc3\xa9', 'BH'])


usager_4_lveh
set(['', 'A', 'C', 'B', 'D', 'F'])


vehicle_2_cadmin
set(['', 'Scoo>125', 'TRSem', 'Scoo<=50', 'Tram', 'Bus', 'VU', 'TR', 'VL', 'Voi', 'PLRem', 'Scoo50-125', 'Cyclo', 'PL>7,5', 'Bicy', 'Moto50-125', 'Car', 'PL<=7,5', 'Moto>125'])


vehicule_1_cadmin
set(['Scoo>125', 'Q>50', 'Engin', 'Cyclo', 'Scoo<=50', 'Tram', 'Bus', 'TR', 'VL', 'Voi', 'PLRem', 'Scoo50-125', 'TRSem', 'VU', 'PL>7,5', 'Bicy', 'Q<=50', 'Moto50-125', 'Car', 'PL<=7,5', 'Moto>125'])


vehicule_1_lveh
set(['A', 'B', 'Z'])


vehicule_2_lveh
set(['', 'Z', 'B', 'W'])


vehicule_3_cadmin
set(['', 'Cyclo', 'TRSem', 'Scoo<=50', 'Bus', 'VL', 'Voi', 'Scoo>125', 'PLRem', 'Scoo50-125', 'VU', 'PL>7,5', 'Bicy', 'Moto50-125', 'Car', 'PL<=7,5', 'Moto>125'])


vehicule_3_lveh
set(['', 'C', 'Z'])

/Users/Mourougan/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: using '-' to provide set differences with Indexes is deprecated, use .difference()
  if __name__ == '__main__':

In [37]:
#classement par code postal
df.sort(['code_postal'])

#on change l'index par code postal
df = df.set_index('code_postal')

#visualisation des codes postaux possible 
code=df['code_postal'].unique().tolist()
print code

#sss
df.loc[df['code_postal']=='75011']

[75101, 75102, 75103, 75104, 75105, 75106, 75107, 75108, 75109, 75110, 75111, 75112, 75113, 75114, 75115, 75116, 75117, 75118, 75119, 75120]

/Users/Mourougan/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

TypeError: invalid type comparison