Projet accident 
--------------

Projet dans le cadre du cours intro à la data science                   
Groupe:  Mourougan Peroumalle,Julien Vorabout, Huy Huynh, Jean-Pierre Pertus

In [103]:
import pandas as pd

df = pd.read_csv("accidentologie.csv",sep=';')
#remplit les colonnes vides ('nan') avec des chaines vides
df = df.fillna('')
#supprime la colonne segm
df.__delitem__('segm')
df = df.replace(['Scoo<=50','Scoo>125', 'Scoo50-125', 'Moto50-125', 'Moto>125', 'Voi', 'Car'],['Scoot','Scoot', 'Scoot', 'Moto', 'Moto', 'Voiture', 'Voiture'])
df = df.rename(columns={'vehicule_1_cadmin': 'Type_de_vehicule'})
df.head()

,date,heure,dept,com,adresse,code_postal,carr,lieu_1_nomv,lieu_2_nomv,Type_de_vehicule,...,usager_2_catu,usager_2_grav,usager_2_lveh,usager_3_catu,usager_3_grav,usager_3_lveh,usager_4_catu,usager_4_grav,usager_4_lveh,coordonnees
0,2013-10-07,05:45,75,119,AVENUE CORENTIN CARIOU,75119,1_75119_10244,AVENUE CORENTIN CARIOU,BOULEVARD MACDONALD,Moto,...,,,,,,,,,,"48.896117, 2.383857"
1,2013-02-05,13:50,75,119,"79, RUE DE BELLEVILLE",75119,1_75119_10266,RUE DE BELLEVILLE,RUE CLAVEL,Scoot,...,,,,,,,,,,"48.873659, 2.383921"
2,2012-12-11,14:50,75,119,"163, AVENUE JEAN JAURES",75119,1_75119_10363,AVENUE JEAN JAURES,RUE DES ARDENNES,VL,...,Cond,BL,B,,,,,,,"48.88739, 2.387161"
3,2012-05-06,13:00,75,119,"66, RUE PETIT",75119,1_75119_10374,RUE PETIT,RUE D HAUTPOUL,Cyclo,...,Cond,BL,B,,,,,,,"48.885578, 2.386701"
4,2013-03-28,19:12,75,119,"1, PLACE AUGUSTE BARON",75119,1_75119_10410,PLACE AUGUSTE BARON,ECH VILLETTE-DG/19,VU,...,Cond,BH,B,,,,,,,

In [106]:
#en commentaire parce que useless pour l'instant
'''
for col in  df.columns - ['lieu_1_nomv','lieu_2_nomv','date','carr','coordonnees','adresse','code_postal','com','7541','heure']:
    print col,' \n',set(df[col])
    print '\n'
'''

"\nfor col in  df.columns - ['lieu_1_nomv','lieu_2_nomv','date','carr','coordonnees','adresse','code_postal','com','7541','heure']:\n    print col,' \n',set(df[col])\n    print '\n'\n"

In [132]:
#classement par code postal
df.sort_values(['code_postal'])

#visualisation des codes postaux possible
codes=df['code_postal'].unique().tolist()
print codes

#dict of dataframe, datafram pour chaque arrondissement
dicoDfCodePostaux = {}
for code in codes:
    dicoDfCodePostaux[code] = df.loc[df['code_postal']==code]

dfStat = pd.DataFrame({'code_postal':codes,'nb_accident':[len(d) for d in dicoDfCodePostaux.values()]})
dfStat['arrondissement'] = dfStat.apply(lambda row: int(str(row['code_postal'])[-2:]),axis=1)
dfStat = dfStat.sort(['arrondissement'], ascending=True)

grouped = df.groupby(['code_postal','Type_de_vehicule'])
#print grouped.groups
for col in df['Type_de_vehicule']:
    l = []
    for arr in dfStat['code_postal'].tolist():
        try:
            l.append(len(grouped.groups[arr,col]))
        except Exception:
            l.append(0)
    
    dfStat[col] = l
    #dfStat[col] = len(grouped.groups.get(('7')))

#dataframe avec avec code postaux et accidents
print dfStat

#si vous voulez un csv
csvname ="dataForD3js.csv"
dfStat.to_csv(csvname,index=False)

[75119, 75101, 75102, 75113, 75114, 75108, 75109, 75120, 75103, 75104, 75115, 75110, 75105, 75107, 75111, 75112, 75106, 75116, 75117, 75118]
    code_postal  nb_accident  arrondissement  Moto  Scoot   VL  Cyclo  VU  \
1         75101          365               1    47     80  156     18  27
2         75102          353               2    16     52   84     14  30
8         75103         1075               3    26     54   87     24  12
9         75104          927               4    31     91  126     16  23
12        75105         1366               5    48     82  144     13  26
16        75106          931               6    42     69  137     26  33
13        75107         1038               7    32    106  214     28  20
5         75108          431               8    97    218  442     49  49
6         75109          657               9    32    103  173     21  36
11        75110          788              10    70    175  257     37  41
14        75111          884              11    65    208  309     59  64
15        75112          735              12   147    218  507     37  74
3         75113          442              13   113    149  465     36  64
4         75114          924              14   117    131  340     31  54
10        75115          731              15    89    164  388     34  48
17        75116          368              16   168    277  704     54  81
18        75117          223              17   162    223  482     47  71
19        75118          246              18   114    135  455     28  83
0         75119          338              19    82    138  363     47  65
7         75120          808              20   141    185  432     34  73

    Bicy  Bus  PL>7,5  Voiture  TRSem  PLRem  TR  PL<=7,5  Q>50  Tram  Q<=50  \
1     22    6       4        2      0      1   0        5     0     0      0
2     20    3       0        1      0      0   0        3     0     0      0
8     34    6       2        0      0      1   0        0     0     0      0
9     38    6       6        0      0      1   0        0     0     0      0
12    32    8       4        4      0      0   0        3     0     0      0
16    32   11       1        1      0      1   0        0     0     0      0
13    29    4       5        4      0      0   0        0     0     0      0
5     42   11       6        5      0      0   0        5     0     0      0
6     30   25       2        6      0      0   0        3     0     0      0
11    59    7       5        2      0      0   0        4     0     0      0
14    74    7      13        2      0      0   0        6     1     0      0
15    62    9       6        5      1      3   0        5     0     0      1
3     54   25       8        1      1      2   1        8     0     0      0
4     27   15       5        3      2      2   0        3     1     0      0
10    40   10       5        3      0      3   0        3     0     1      0
17    55    5       5        4      4      5   0        3     1     0      0
18    26    7       6        5      2      0   0        6     0     0      0
19    26   14      10        7      0      3   0        9     0     0      0
0     20    4       7        4      1      1   0        1     1     0      1
7     39    9       3        2      3      3   0        6     0     1      0

    Engin
1       0
2       0
8       0
9       0
12      1
16      0
13      0
5       0
6       0
11      0
14      0
15      0
3       0
4       0
10      0
17      0
18      1
19      0
0       0
7       0

/Users/Mourougan/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:15: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)